---
layout: base
titles:
  en: Blog
  zh: 博客
  zh-Hans: 博客
  zh-Hant: 博客
---
<div class="m-home">
  <div class="main">
    <div class="m-post-list">
      {%- for post in paginator.posts -%}
        <article>
          {%- assign __path = post.url -%}
          {%- include snippets/prepend-baseurl.html -%}
          {%- assign href = __return -%}
          <h1><a href="{{ href }}">{{ post.title }}</a></h1>
          <div class="m-article-content">
            {%- if site.excerpt_type == 'html' -%}
              {{ post.excerpt }}
            {%- else -%}
              {{ post.excerpt | strip_html | truncate: 350 }}
            {%- endif -%}
          </div>
          {%- assign __path = post.url -%}
          {%- include snippets/prepend-baseurl.html -%}
          {%- assign __locale = site.data.locale.READMORE -%}
          {%- include snippets/locale-to-string.html -%}
          <a href="{{ href }}">{{ __return }}</a>
          {%- include article-info.html -%}
        </article>
      {%- endfor -%}
    </div>
  </div>
</div>
